<div class="container-lg d-flex">
  <form action="" class="d2">
    <div>
      <input type="text">
      <input type="text">
    </div>
  </form>
    <form action="" class="d-flex flex-column d3">
      <div class="input-group mb-3 d-flex">
        <label class="input-group-text" for="inputGroupSelect01">Select Position</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose</option>
          <option value="1">Cameraman/Camerowomen</option>
          <option value="2">Chef-lighting</option>
          <option value="4">Lighting</option>
          <option value="5">Sound</option>
          <option value="6">Video</option>
          <option value="7">Rigger</option>
          <option value="8">General Tech</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Years of Experience</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">less than 1 year</option>
          <option value="2">2 years</option>
          <option value="3">3 years</option>
          <option value="3">4 years</option>
          <option value="3">5 + years</option>
          <option value="3">10 + years</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">driving license</label>
        <select class="form-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Yes</option>
          <option value="2">Non</option>
        </select>
      </div>
      <div class="button-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</div>


