<div>
  <div class="card">
    <h2 class="mb-30">Invoice Processing Time</h2>
    <p class="mb-30">Overview of your pending Invoices</p>
    <div class="proceed-invoice">
      <div class="invoice-name">
        <span>Invoice sent To CCR On the 22/01/23</span>
      </div>
      <div class="invoice-progress">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-75"></div>
        </div>
      </div>
    </div>
    <div class="proceed-invoice">
      <div class="invoice-name">
        <span>Invoice sent To EpiqVision On the 01/02/23</span>
      </div>
      <div class="invoice-progress">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-75"></div>
        </div>
      </div>
    </div>
    <div class="proceed-invoice">
      <div class="invoice-name">
        <span>Invoice sent To EpiqVison On the 2/02/23</span>
      </div>
      <div class="invoice-progress">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-50"></div>
        </div>
      </div>
    </div>
    <div class="proceed-invoice">
      <div class="invoice-name">
        <span>Invoice sent To Lumiart On the 06/02/23</span>
      </div>
      <div class="invoice-progress">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>
      </div>
    </div>
    <div class="proceed-invoice">
      <div class="invoice-name">
        <span>Invoice sent To Air.MS On the 08/02/23</span>
      </div>
      <div class="invoice-progress">
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar w-25"></div>
        </div>
      </div>
    </div>
  </div>
</div>
