<div class="container">
  <div class="card" id="kk">
    <a class="profile-image" href="#" routerLink="/profile"><img class="profile-image"   src="/assets/images/55.jpeg" alt=""></a>
    <div class="card-body">
      <p class="profile-name">Jane Doe</p>
      <p class="profile-name">Directice of Procution</p>
      <h5 class="card-title"></h5>
      <h6 class="card-subtitle">31/12/2022</h6>
      <p class="card-text">Je recherche un cameraman pour le 3 janvier sur montreal 33$/h
        feel free to apply thanks
      </p>
      <ul class="apply-link">
        <a class="nav-link btn btn-primary" href="">Apply</a>
          <li class="nav-link btn btn-success" data-toggle="modal" data-target="#refer" data-whatever="@mdo">Send to</li>
          <div class="modal mt-50" tabindex="-1" role="dialog" id="refer">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">WorForce</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/oui.jpg" alt=""><p class="name">Elizabeth queen</p><button class="btn btn-primary ml-10 ae" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/brune.jpeg" alt=""><p class="name">Elza</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/blonde.jpg" alt=""><p class="name">Tea king</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/55.jpeg" alt=""><p class="name">Laurie faron</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/oui.jpg" alt=""><p class="name">Laura james</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/oui.jpg" alt=""><p class="name">Anais grioche</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/oui.jpg" alt=""><p class="name">alexandra druty</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                <li class="friend-list mb-15"><img class="image-workforce" src="/assets/images/oui.jpg" alt=""><p class="name">lisa herfer</p><button class="btn btn-primary ml-10" style="font-weight: 300;">send</button></li>
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
      </ul>
    </div>
  </div>
</div>

