<div class="layout-content">
<div class="card ">
  <h2 class="mb-30">Team Members</h2>
  <ul>
    <div>
    <li class=" list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Chef Lx</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Technicien General</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class=" list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Chef Video</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Operateur video</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Chef Sound</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Junior sound engineer</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Junior lx</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Chef Decor</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class="list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Operator Camera robot</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
    <hr>
    <li class=" list d-flex justify-content-between flex-algin-items-center">
      <div class="person-item d-flex">
        <img src="/assets/images/oui.jpg" class="profile-image-50" alt="">
        <div class="person-info">
          <div class="person-name">Anna kournikova</div>
          <div class="person-subtext">Chef Elec</div>
        </div>
      </div>
      <div class="person-actions">
        <button class="btn">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-calendar2-event" viewBox="0 0 16 16">
          <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
          <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
        </svg>
      </button>
      <button class="btn btn-2">
        <svg xmlns="http://www.w3.org/1600/svg" width="16" height="16" fill="white" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
        </svg>
      </button>
      </div>
    </li>
  </div>
  </ul>
</div>
</div>
