
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zeussV2-primary: mat.define-palette(mat.$indigo-palette);
$zeussV2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$zeussV2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$zeussV2-theme: mat.define-light-theme((
  color: (
    primary: $zeussV2-primary,
    accent: $zeussV2-accent,
    warn: $zeussV2-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($zeussV2-theme);

@import'/src/assets/styles/variables.scss';

// ADD GLOBAL SCSS

body{
  background-color: #f8f9fa;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.profile-image-80{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-image-30{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-image-50{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-image-70{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.btn-primary{
  background-color:#2e86de;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
