:root{
  --font-family-primary : 'Montserrat', sans-serif;
  --font-family-secondary : 'Roboto Mono', monospace;
  --primary:#0c2461;
  --secondary:#1e3799;
  --accent:#a5143d;
  --accent-1:#fa983a;
  --nav:#343a40;
  --accent-2:#6674c0;
  --terciary:#74c067;
}